<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="text-center">Sign up</h2>
      <hr>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-row justify-content-center">
          <div class="form-group col-md-12">
           
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control border-2 rounded-pill mt-3 px-4 py-2 w-100" %>
            
          </div>

          <div class="form-group col-md-12">
            <%= f.label :bio %>
            <%= f.text_field :bio, class:"form-control border-2 rounded-pill mt-3 px-4 py-2 w-100" %>
          </div>

       

          <div class="form-group col-md-12">
            <%= f.label :username %>
            <%= f.text_field :username, class:"form-control border-2 rounded-pill mt-3 px-4 py-2 w-100" %>
          </div>

          <div class="form-group col-md-12">
          <%= f.label :avatar %>
          <%= f.file_field :avatar, accept: "image/*", class:" btn btn-secondary form-control border-2 rounded-pill mt-3 px-4 py-2 w-100" %>
        </div>

          <div class="form-group col-md-12">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control border-2 rounded-pill mt-3 px-4 py-2 w-100" %>
          </div>

          <div class="form-group col-md-12">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control border-2 rounded-pill mt-3 px-4 py-2 w-100" %>
          </div>

          <div class="form-group col-md-12 text-center">
            <%= f.submit "Submit", class: "btn btn-outline-primary border-2 rounded-pill mt-3 px-4 py-2 w-100" %>
          </div>
        </div>
      <% end %>

      <center>
        <%= render "devise/shared/links" %>
      </center>
    </div>
  </div>
</div>
