

<center>
<h2><%= @user.username %> Posts  </h2>
<hr>

<div id="posts">
    <% if @posts.any? %>
        <% @posts.each do |post| %>
            <p><strong><%= post.user.username %>:</strong></p>
            <%= render post %>
        <% end %>
    <% else %>
        <p><%= @user.name %> has no posts yet.</p>
    <% end %>
</div>

<% if user_signed_in? && current_user == @user %>
    <%= link_to "New post", new_post_path %>
  <% end %>
</center>