<div class="container-fluid d-flex align-items-center justify-content-center">

<div class="col-12 col-md-6">
<center>
<br>
<h3>Username: <%= @user.username %></h3>
<h5>Bio : <%= @user.bio %></h4>
<h5>E-mail: <%= @user.email %></h5>

<br>

<% if @user.avatar.attached? %>
<%= image_tag @user.avatar, style: "width:100px; height: 100px;" %>
<% end %>

<% if current_user.following?(@user) %>
<%= button_to "Unfollow", unfollow_path(@user) %>
<% elsif current_user.sent_follow_request_to?(@user) %>
<#%= button_to "Cancel follow request", cancel_path(@user) %>

<% else %>
<%= button_to "Follow", follow_path(@user), method: :get, class: "btn btn-primary" %>
<% end %>
<br>

<% if user_signed_in? && current_user == @user %>
<%= button_to "Edit Account", edit_user_registration_path, method: :get, class: "btn btn-secondary" %>
<% end %>
</center>

</div>
</div>
</div>




