
<center><h4>E-mail: <%= @user.email %></h4>
<h4>Username: <%= @user.username %></h4>
<h4>Bio: <%= @user.bio %></h4></center>

<center><% if @user.avatar.attached? %>
<%= image_tag @user.avatar, style: "width:100px; height: 100px;" %>
</center><% end %>
<center>
<% if current_user.following?(@user) %>
<%= button_to "Unfollow", unfollow_path(@user) %>
<% elsif current_user.sent_follow_request_to?(@user) %>
<%= button_to "Cancel follow request", cancel_path(@user) %>
<% else %>
<%= button_to "Follow", follow_path(@user) %>
<% end %>
</center>

