<% if user_signed_in? %>

<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="container">
        <hr>
        <center>
            <h4>Username: <%= @user.username %></h4>
            <h5>Bio : <%= @user.bio %></h5>
            <h6>E-mail: <%= @user.email %></h6>

            <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar, style: "width:200px; height: 200px;" %>
            <% end %>

            <div class="container-fluid d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                    <% if current_user.following?(@user) %>
                        <li><%= button_to "Unfollow", unfollow_path(@user) %></li>
                    <% elsif current_user.sent_follow_request_to?(@user) %>
                        <li><%= button_to "Cancel follow request", cancel_path(@user) %></li>
                    <% else %>
                        <li><%= button_to "Follow", follow_path(@user), method: :get, class: "btn btn-primary border-2 rounded-pill mt-3 px-4 py-2 w-100" %></li>
                    <% end %>

                    <% if user_signed_in? && current_user == @user %>
                        <li><%= button_to "Edit Account", edit_user_registration_path, method: :get, class: "btn btn-secondary border-2 rounded-pill mt-3 px-4 py-2 w-100" %></li>
                        <li><%= button_to "View My Posts", posts_myposts_path, method: :get, class: "btn btn-info border-2 rounded-pill mt-3 px-4 py-2 w-100" %></li>
                    <% end %>
                </ul>
            </div>
        </center>
    </div>
</div>

<% end %>
