<% if user_signed_in? %>

<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="container">
        <hr>
        <center>
            <h5>Username: <%= @user.username %></h5>
            <h5>Bio : <%= @user.bio %></h5>
            <h5>E-mail: <%= @user.email %></h5>
            <strong>Total Posts: </strong><%= @user.posts.count %> <br>
            <strong>Total Likes: </strong><%= @user.likes.count %> <br>
            <strong>Total Comments: </strong><%= @user.comments.count %> <br>
            <strong>Total Songs: </strong><%= @user.songs.count %> <br>
     
            
        <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, style: "width:200px; height: 200px;" %>
         <% end %>
         <br>
            <strong>Account Created:</strong>
            <%= @user.created_at.strftime("%B %d, %Y") %>
            <br>
            <strong>Total Followers: </strong><%= @user.followers.count %> <br>
            <strong>Total Following: </strong><%= @user.following.count %> <br>


            <% if current_user != @user %>
            <% if current_user.following?(@user) %>
              <%= button_to "Unfollow", unfollow_path(@user), method: :post, class: "btn btn-danger" %>
            <% else %>
              <%= button_to "Follow", follow_path(@user), method: :post, class: "btn btn-primary" %>
            <% end %>
          <% end %>
          
                    <li><%= link_to "View Posts", user_posts_path(@user), class: "btn btn-info border-2 rounded-pill mt-3 px-4 py-2 w-100" %></li>      
                 
                        <strong>Post Data Uploaded:</strong>
                        <%= number_to_human_size(@user.total_uploaded_data_size) %>
                        <br>
                        <strong>Song Data Uploaded:</strong>
                            <%= number_to_human_size(@user.total_uploaded_song_data_size) %>
                        <br>
                        <strong>Total Uploaded Data (Combined):</strong>
                        <%= number_to_human_size(@user.total_uploaded_data_size + @user.total_uploaded_song_data_size) %>
            
                        <% if (@user.total_uploaded_data_size + @user.total_uploaded_song_data_size) > 1.gigabyte %>
                            <p class="text-danger"><strong>Warning:</strong> You have exceeded 1 GB of data upload.</p>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </center>
    </div>
</div>


