 <% if user_signed_in? %>

<!-- app/views/songs/_form.html.erb -->
<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2>The following errors prevented this song from being saved:</h2>

      <ul>
        <% song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>

     <% if invalid %>
      <p style="color:red">
        <%= post.errors.full_messages_for(:description).join(" ,") %>
      </p>
    <% end %>

  </div>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist, required: true %>
  </div>

  <div class="field">
    <%= form.label :audio_file %>
    <%= form.file_field :audio_file, accept: 'audio/mp3', required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <p><strong>Artist:</strong> <%= @song.artist %></p>
<p><strong>Title:</strong> <%= @song.title %></p>
<p><strong>File Title:</strong> <%= @song.audio_file.filename.to_s if @song.audio_file.attached? %></p>



<% if @song.audio_file.attached? %> 
  <p><strong>File:</strong> <%= link_to "Download", url_for(@song.audio_file) %></p>
  <%#= debug @song.audio_file %> <!-- This will show details about the attachment -->

  <audio controls>
    <source src="<%= url_for(@song.audio_file) %>" type="<%= @song.audio_file.content_type %>">
    Your browser does not support the audio element.

    </audio>
<% else %>
  <p>No audio file attached.</p>
  
<% end %>
<% end %>

<% end %>