 <% if user_signed_in? %>


<div class="container-fluid d-flex align-items-center justify-content-center">
  <div class="col-8 col-md-4">
    <br>
    <h3><center>Upload a New Song</center></h3>
    <hr>

      <%= form_with model: @song, local: true do |form| %> 
        <% if @song.errors.any? %>
          <div class="alert alert-danger">
            <h4>The following errors prevented the song from being uploaded:</h4>
            <ul>
              <% @song.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="col-6 col-md-6">
        <%= form.label :title %>
        <br>
        <%= form.text_field :title %>
        <br>
        <%= form.label :artist %>
        <br>
        <%= form.text_field :artist %>
        <br>
       
        <%= form.label :audio_file, class: "btn btn-secondary border-2 rounded-pill mt-3 px-4 py-2 w-100" %>
        <br>

        <%= form.file_field :audio_file, accept: 'audio/mp3' %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%= form.submit "Upload Song", class: "btn btn-primary" %>
      </center>

    <% end %>
  </div>
</div>
</div>
</div>


    <% end %>