<div class="container-fluid d-flex align-items-center justify-content-center">

<div class="col-12 col-md-6">
<br>
<h2><center>Upload a New Song</h2>
<hr>

<%= form_with model: @song, local: true do |form| %> 

    <center> <%= form.label :title %>    
 <br>
    <%= form.text_field :title %>
   <br>
    <%= form.label :audio_file %>
   <br>
   <br>
    <%= form.file_field :audio_file %>
  <br>
  <br>
    <%= form.submit "Upload Song" %>
   </center> 
<% end %>
</div>
</div>
</div>
</div>
</div>

<script>
#injection test
alert()
</script>