 <% if user_signed_in? %>

  <div class="row justify-content-center">
  <div class="col-8 col-md-4">
    <br>
    <h3><center>Upload a New Song</center></h3>
    <hr>

    <%= form_with model: @song, local: true do |form| %> 
      <% if @song.errors.any? %>
        <div class="alert alert-danger">
          <h4>The following errors prevented the song from being uploaded:</h4>
          <ul>
            <% @song.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <center>
        <%= form.label :title %>
        <br>
        <%= form.text_field :title, placeholder: "Enter your title...", class: "border-2 rounded-pill mt-3 px-4 py-2 w-100" %>
        <br>
        
        <%= form.label :artist %>
        <br>
        <%= form.text_field :artist, placeholder: "Enter your artist...", class: "border-2 rounded-pill mt-3 px-4 py-2 w-100"  %>
        <br>

        <%= form.label :audio_file %>
        <br>
        <%= form.file_field :audio_file, accept: 'audio/mp3', class: "btn btn-secondary border-2 rounded-pill mt-3 px-4 py-2 w-100" %>
        <br>
        <br>
        <%= form.submit "Upload Song", class: "btn btn-primary border-2 rounded-pill mt-3 px-4 py-2 w-100" %>
      </center>

    <% end %>
  </div>
</div>


    <% end %>
