<h1><center>Upload a New Song</center></h1>

<%= form_with model: @song, local: true do |form| %> 
  
    <%= form.label :title %>
    <%= form.text_field :title %>
 
<br>
    <%= form.label :audio_file %>
    <%= form.file_field :audio_file %>
    <%= form.submit "Upload Song" %>

<% end %>