<div> 

<h1><center>Upload a New Song</h1>

<%= form_with model: @song, local: true do |form| %> 

    <center> <%= form.label :title %>    
 <br>
    <%= form.text_field :title %>
   <br>
    <%= form.label :audio_file %>
   <br>
   <br>
    <%= form.file_field :audio_file %>
  <br>
  <br>
    <%= form.submit "Upload Song" %>
   </center> 
<% end %>
</div>

<script>
#injection test
alert()
</script>