

<div class="container-fluid d-flex align-items-center justify-content-center">

<div class="col-12 col-md-6">
 <% if user_signed_in? %>
<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>
<% if user_signed_in? %>
<center>
<% if current_user.admin? %>
<h3>---- YOU ARE THE ADMIN -------  </h3>
<h3> -- admin on the url to access admin dashboard -- </h3>
<% end %>

  <% current_user.follow_requests.each do |request| %>
    <%= request.followerable.email %> Want to follow you %>
    <%= button_to "Accept", accept_path(request.followerable) %>
    <%= button_to "Decline", decline_path(request.followerable) %>
      <% end %>
      
  <h4>Followers</h4> 
      <% current_user.followers.each do |follower| %>
        <%= link_to follower.username, follower %>
        <% end %>
        <br>
  <h4>   Followwing</h4> 
        <% current_user.followers.each do |following| %>
          <%= link_to following.username, following %>
          <% end %>
          <% end %>

    
<h1>Posts</h1>

<div id="posts">
  <% @posts.reverse.each do |post| %>
    <%= render post %>
  <br>
  <% end %>
</div>

<div id="posts">
<% @song.reverse.each do |song| %>
      
  <%= render partial: "audio_player", locals: { song: song } %>
  
<% end %>
</div>

<%= link_to "New post", new_post_path %>

<% end %>
