 <% if user_signed_in? %>

<!--  advises -->
<center><p style="color: green"><%= notice %></p></center>

<% content_for :title, "Posts" %>
<% if user_signed_in? %>
<center>
<% if current_user.admin? %>
<p> ------- YOU ARE THE ADMIN -------  </p>
<% end %>

<!-- 
  <#%= current_user.follow_requests.each do |request| %>
    <#%= request.followerable.email %> Want to follow you %>
    <#%= button_to "Accept", accept_path(request.followerable) %>
    <#%= button_to "Decline", decline_path(request.followerable) %>
      <#% end %>         
  <p>Followers
      <% current_user.followers.each do |follower| %>
        <%= link_to follower.username, follower %>
        <% end %>
        <br>
  Followwing</p> 
        <% current_user.followers.each do |following| %>
          <%= link_to following.username, following %>
          <% end %>
          <% end %>
-->

<h2>Posts</h2>

<div id="posts">
  <% @posts.reverse.each do |post| %>
  <%= render post %>
  
  <br>
  <% end %>
</div>


  <%# @song.reverse.each do |song| %>
  <%#= render partial: "audio_player", locals: { song: song } %>
<%# end %> 

<hr>
  <%= link_to "New post", new_post_path %>
<% end %>

</div>
</div>
</div>