<% if user_signed_in? %>

<center><p style="color: green"><%= notice %></p></center>

<center>
<%= render @post %>

 </center>
 <center>
<%= link_to "Back to posts", posts_path, class: "btn btn-secondary border-2 rounded-pill mt-3 px-4 py-2 w-50"  %>
<br>
<% if user_signed_in? %>
<% if current_user.id == @post.user.id %>
<div>
<br>
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary border-2 rounded-pill mt-3 px-4 py-2 w-50"  %>  
  <br>
<div class="btn">
  <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger border-2 rounded-pill mt-3 px-4 py-2 w-100" %>
</div>



<br>
<% end %>
<% end %>

<div class="comments-section">
  <!-- Centered Comment Form -->
  <div class="comment-form mb-10 d-flex justify-content-center">
    <div class="form-container card p-4">
      <h5 class="text-center mb-10">Add a Comment</h5>
      <%= render "comments/form", comment: @comment %>
    </div>
  </div>

  <!-- Comments List -->
  <div class="comments-list">
  <br>
    <h4>Comments</h4>
    <% @post.comments.each do |comment| %>
      <div class="comment mb-3 p-3 border rounded">
        <p class="mb-10"><%= truncate_comment(comment.text) %></p>
      </div>
    <% end %>
 <% end %>
