<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar Example</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Brand -->
    <%= link_to "Home", posts_path, class: "navbar-brand" %>

    <!-- Search Form -->
    <%= form_with url: profiles_index_path, method: :get, local: true, class: "form-inline my-2 my-lg-0" do |form| %>
      <%= form.search_field :query, value: params[:query], placeholder: "Search", class: "form-control mr-sm-2" %>
      <%= form.submit "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>

    <!-- Navbar Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <!-- Profile Link -->
          <li class="nav-item">
            <%= link_to "My Profile", current_user, class: "nav-link" %>
          </li>

          <!-- New Post Link -->
          <li class="nav-item">
            <%= link_to "New Post", new_post_path, class: "nav-link" %>
          </li>

          <!-- Posts Link -->
          <li class="nav-item">
            <%= link_to "Posts", posts_path, class: "nav-link" %>
          </li>

          <!-- New Song Link -->
          <li class="nav-item">
            <%= link_to "New Song", new_song_path, class: "nav-link" %>
          </li>

          <!-- Songs Link -->
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Songs", songs_path, class: "nav-link" %>
          </li>
          <%end%>
          <!-- View My Posts Link -->
          <li class="nav-item">
            <%= link_to "View My Posts", posts_myposts_path, class: "nav-link" %>
          </li>

          <!-- Edit Account Link -->
          <li class="nav-item">
            <%#= link_to "Edit Account", edit_user_registration_path, class: "nav-link" %>
          </li>

          <!-- Profile Avatar -->
          <% if current_user.avatar.attached? %>
            <li class="nav-item">
              <%= image_tag current_user.avatar, style: "width: 50px; height: 50px;", class: "nav-link" %>
            </li>
          <% end %>

          <!-- Sign Out Link -->
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <!-- jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
